// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}
 
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face{
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Comfortaa-Bold';
  src: url('fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Comfortaa-Light';
  src: url('fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
}

.container-default{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  margin-bottom: 30%;
  
}
.container-default .container-header{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #C0C0C0;
}
h2{
  font-size: 20px !important;
  font-family: 'Comfortaa-Bold';
  color: #b275f4;
  text-align: center;
}
.icon-size{
  font-size: 20px;
}
.link-back{
  color: #C0C0C0;
  width: 50px;
}
.link-back:focus{
  color: #C0C0C0;
}
.container-body{
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.container-body .input-form{
  border: 0px solid;
  border-radius: 40px;
  background: #d1d8fa;
  color: #303030;
  width: 100%;
  height: 35px;
  padding-left: 15px;
  font-family: 'Comfortaa';
  font-size: 14px;
}
.container-body label{
  font-size: 14px;
  font-family: 'Comfortaa';
  color: #989898;
}
.input-field{
  margin-bottom: 20px; 
}
.input-file{
  position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}
.badge-purple{
  padding-top: 6px;
  background: #b275f4;
  border-radius: 40px;
}
.btn-purple{
  background: #9479f2;
  width: 250px;
  height: 35px;
  text-align: center;
  border-radius: 40px;
  border: 0px solid;
  color: white;

  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-purple:hover{
  color: white;
}
.btn-purple:focus{
  color: white;
}
.btn-purple-inverse{
  background: white;
  width: 250px;
  height: 35px;
  text-align: center;
  border: 1px #9479f2 solid;
  border-radius: 5px;
  color: #9479f2;
  display: block;
  padding-top: 5px;
}
.btn-purple-inverse:hover{
  color: #9479f2;
  text-decoration: none;
}
.btn-purple-inverse:focus{
  color: #9479f2;
  text-decoration: none;
}
.grafico-geral{
  margin-right: 0;
  margin-left: 13%;
  width: 70%;
  height: 100px;
}
.container-list{
  margin-top: 40px;
}
.container-item{
  border: 1px solid #C0C0C0;
  border-radius: 8px;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
}

select{
  outline-width: 0;
}
input {
  outline-width: 0;
}


.menu-horizontal{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 10% 10px 10%;
  right: 0;
  height: 60px;
  background: white;
  border-radius: 15px 15px 0 0;
  border: 1px #b275f4 solid;

  border-bottom: 0px;
  margin-top: 30%;

  .options {

    .options-item {

      word-wrap: 20px;
      display: inline-block;
      margin-right: 13%;
    }

    .options-right{
      text-align: right;
    }

    .options-left{
      text-align: left;
    }
    .options-center{
      text-align: center;
    }
    .option-item{
      color: #b275f4;
    }
    .option-item:focus{
      color: #b275f4;
    }
  }
}