<div class="menu-horizontal">
	<div class="options">
		<div class="row">
		
			<div class="col-4 options-left">
				<%=link_to(dashboards_index_path, class: 'option-item') do %>
					<i class="fa fa-home" style="font-size: 40px;"></i>
				<% end %>
			</div>

			<div class="col-4 options-center">
				<%=link_to(horas_complementares_index_path, class: 'option-item') do %>
					<i class="fa fa-plus-circle" style="font-size: 43px;"></i>
				<% end %>
			</div>

			<div class="col-4 options-right">
				<%=link_to(pessoas_perfil_path, class: 'option-item') do %>
					<i class="fa fa-user-circle" style="font-size: 40px;"></i>
				<% end %>
			</div>

		</div>
	</div>
</div>
