<div class="menu-horizontal">
	<div class="options">
		<div class="row">
		
			<div class="col-4 options-left">
				<%=link_to(dashboards_index_path, class: 'option-item') do %>
					<i class="fa fa-calendar-check-o" style="font-size: 23px; margin-top: 10px;"></i>
				<% end %>
			</div>

			<div class="col-4 options-center">
				<%=link_to(horas_complementares_path, class: 'option-item') do %>
					<i class="fa fa-pencil-square" style="font-size: 35px; "></i>
				<% end %>
			</div>

			<div class="col-4 options-right">
				<%=link_to(pessoas_perfil_path, class: 'option-item') do %>
					<i class="fa fa-user-o" style="font-size: 23px; margin-top: 10px;"></i>
				<% end %>
			</div>

		</div>
	</div>
</div>
